[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
xgboost = "*"
pandas = "*"
avatar = {editable = true, path = "."}
shap = "*"
word2number = "*"
trueskill = "*"
scipy = "*"
dateparser = "*"
statsmodels = "*"

[dev-packages]
ipykernel = "*"
seaborn = "*"
ipywidgets = "*"
pyinstrument = "*"

[requires]
python_version = "3"
