[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
mercs = "*"
jupyter = "*"
word2number = "*"
sklearn = "*"
xgboost = "*"
matplotlib = "*"
shap = "*"
tqdm = "*"
plotly = "*"
altair = "*"

[requires]
python_version = "3.8"

[scripts]
install_kernel = "python -m ipykernel install --user --name=avatar"

[pipenv]
allow_prereleases = true

[dev-packages]
black = "==19.3b0"
filelock = "*"
