[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
avatar = {editable = true, path = "."}
pandas = "*"
mercs = "*"
jupyter = "*"
word2number = "*"
sklearn = "*"

[requires]
python_version = "3.8"

[scripts]
install_kernel = "python -m ipykernel install --user --name=avatar"
